body {
    margin: 0;
    padding: 0;
    background-color: #70A559;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 30px;
    max-width: 600px;
    height: 1000px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  #sabil{
    margin-left: 40%;
    margin-top: 20px;
    width: 350px;
    height: 70px;
  }
  .text-info{
    color: #70A559!important;
  }
  .btn-info{
    background-color: #70A559!important;
    border : none;
  }
  .btn-info:hover{
    background-color: rgb(66, 99, 53);
    border : none;
  }
  .text-info{
    color: #70A559;
  }
  body{
      background-color: #FFFFFF;    
  }
  a{
        color: #FFFFFF;
        font-size: 25px;
  }
  a:hover{
      color: rgb(41, 61, 32);
      text-decoration: none;
  }